:root {
  --base: 16px;

  --font-size-h1: 2rem;
  --font-size-h2: 1.5rem;
  --font-size-h3: 1.25rem;
  --font-size-base: 0.875rem;
  --font-size-small: 0.75rem;
  --font-size-micro: 0.5rem;

  --background-body: #ffffff;
  --background-subdued: #e5f0f5;
  --background-base: #f4f8fb;
  --background-alt: #e5f0f5;
  --background-alt2: #c9dee9;
  --background-alt3: #8dadbf;
  --background-alt4: #608192;

  --accent-base: #0078ff;
  --accent-alt: #005ee5;
  --accent-alt2: #0041c8;

  --status-approved: #2bc7b4;

  --font-base: #1b2023;
  --font-alt: #2c353a;
  --font-alt2: #45535b;
  --font-alt3: #566a75;
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--font-base);
  font-family: 'Inter', 'Roboto', sans-serif;
  font-size: var(--base);
  font-weight: normal;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: bold;
  font-size: var(--font-size-h1);
  line-height: 2.5rem;
}

h3 {
  font-weight: 600;
  font-size: var(--font-size-h3);
  line-height: 1.75rem;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size-base);
  line-height: 1.75rem;
}

a {
  text-decoration: none;
  color: var(--font-base);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 0.5rem 0;
}

label {
  font-size: 0.875rem;
  font-weight: 600;
}

button {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-base);
  font-weight: 600;
  color: var(--background-body);
  border-radius: 4px;
  background-color: var(--accent-base);
  border: none;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  font-weight: bold;
}

button:disabled {
  background-color: var(--background-alt2);
  color: var(--font-alt3);
  opacity: 0.5;
  cursor: not-allowed;
}

section {
  padding: 1rem;
  border-top: 1px solid var(--background-alt);
}

input[type='range'] {
  -webkit-appearance: none;
  width: 100%;
  margin-top: 1rem;
  border-radius: 0.5rem;
}

input[type='range']:focus {
  outline: none;
}

input[type='range']::-moz-focus-outer {
  border: 0;
}

input[type='range']::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 1rem;
  border-radius: 0.5rem;
  background-color: var(--background-alt);
}

input[type='range']::-moz-range-track {
  height: 1rem;
  border-radius: 0.5rem;
  background-color: var(--background-alt);
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 3rem;
  height: 2rem;
  margin-top: -0.5rem;
  margin-left: -0.1rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--background-body);
  background-image: url('./images/thumb.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: -30px 0px 0px -8px var(--accent-base), -48px 0px 0px -8px var(--accent-base),
    -64px 0px 0px -8px var(--accent-base), -80px 0px 0px -8px var(--accent-base), -96px 0px 0px -8px var(--accent-base),
    -112px 0px 0px -8px var(--accent-base), -128px 0px 0px -8px var(--accent-base),
    -144px 0px 0px -8px var(--accent-base), -160px 0px 0px -8px var(--accent-base),
    -176px 0px 0px -8px var(--accent-base), -192px 0px 0px -8px var(--accent-base),
    -208px 0px 0px -8px var(--accent-base), -224px 0px 0px -8px var(--accent-base),
    -240px 0px 0px -8px var(--accent-base), -256px 0px 0px -8px var(--accent-base),
    -272px 0px 0px -8px var(--accent-base), -288px 0px 0px -8px var(--accent-base),
    -304px 0px 0px -8px var(--accent-base), 0px 2px 6px rgba(37, 42, 50, 0.12);
}

input[type='range']::-moz-range-thumb {
  box-shadow: 0px 2px 6px rgba(37, 42, 50, 0.12);
  width: 3rem;
  height: 2rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--background-body);
  background-image: url('./images/thumb.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

input[type='range']::-moz-range-progress {
  height: 1rem;
  border-radius: 0.5rem;
  background-color: var(--accent-base);
}

input[type='range']::-ms-fill-lower {
  height: 1rem;
  border-radius: 0.5rem;
  background-color: var(--accent-base);
}

input[type='checkbox'] {
  width: 1rem;
  height: 1rem;
  -webkit-appearance: none;
  border: 1px solid var(--background-alt2);
  background-color: var(--background-subdued);
  border-radius: 4px;
  padding: 0;
  margin: 0;
  transition: all 150ms ease-in-out;
}

input[type='checkbox']:hover {
  border: 1px solid var(--background-alt3);
  background-color: var(--background-alt2);
}

input[type='checkbox']:checked {
  border: 1px solid var(--accent-alt);
  background-color: var(--accent-base);
  content: url(./images/checkmark.svg);
}

#map {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.card {
  position: relative;
  overflow: hidden;
  display: grid;
  top: 1rem;
  left: 1rem;
  width: 360px;
  height: calc(100vh - 2rem);
  border-radius: 8px;
  background-color: var(--background-body);
  box-shadow: 0px 8px 62px rgba(0, 0, 0, 0.07), 0px 9.63424px 10.0459px rgba(0, 0, 0, 0.08),
    0px 5.80506px 6.13245px rgba(0, 0, 0, 0.0310277), 0px -4px 3.46624px rgba(0, 0, 0, 0.024633),
    0px 24px 64px rgba(0, 0, 0, 0.08);
  z-index: 10;

  grid-template-areas:
    'header'
    'main'
    'footer';

  grid-template-rows: min-content 1fr min-content;
}

.card header {
  z-index: 10;
  grid-area: header;
  width: inherit;
  padding: 1rem;
  background: var(--background-body);
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.02), 0px 2px 6px -1px rgba(0, 0, 0, 0.1);
}

header h1 {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

header p {
  color: var(--font-alt3);
}

.range-slider {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0 0 1rem;

  position: relative;
}

.range-slider::before {
  content: '';
  position: absolute;
  background-image: url(./images/slider-edge.png);
  background-repeat: no-repeat;
  bottom: 18px;
  height: 17px;
  width: 8px;
  transform: rotate(180deg);
}

.labels {
  display: flex;
  justify-content: space-between;
}

.card main {
  grid-area: main;
  overflow-y: auto;
}

.checklist {
  margin-top: 0.5rem;
}

.checklist li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checklist li * {
  cursor: pointer;
}

.checklist li label {
  display: flex;
  flex-direction: column;
  margin-left: 0.875rem;
}

.checklist .subtitle {
  margin-top: 2px;
  color: var(--font-alt3);
  font-weight: 400;
}

.card footer {
  grid-area: footer;
  border-radius: 0 0 0.5rem 0.5rem;
  width: 360px;
  background: var(--background-body);
  border-top: 1px solid var(--background-alt);
}

.chargetrip-logo {
  display: inline-block;
  height: 2.5rem;
  line-height: 39px;
  background: url('images/chargetrip.svg') no-repeat right center transparent;
  background-size: 5.25rem;
  padding-right: 5.5rem;
  font-size: var(--font-size-small);
  font-weight: 600;
  text-transform: uppercase;
  color: var(--font-alt3);
  font-weight: bold;
}

.prefooter {
  padding: 1rem;
  border-bottom: 1px solid var(--background-alt);
}

.disclaimer {
  padding: 0 1rem;
}

.mapboxgl-ctrl-attrib-button {
  display: none;
}

/* View project on the github link */
.github-link {
  position: fixed;
  top: 16px;
  right: 16px;
  display: flex;
  align-items: center;

  padding: 0 12px;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.08);

  background-color: #fff;
  border-radius: 20px;

  color: #0c0c10;
  font-size: 15px;
  font-weight: 500;
  line-height: 40px;
  z-index: 2;
}

.github-link a {
  padding: 0 16px 0 32px;
  margin: 0 8px 0 0;
  background: url('images/github.svg') no-repeat left center;
  border-right: 1px solid #edf2f6;
  color: var(--font-base);
  font-weight: bold;
}

.github-link button {
  width: 16px;
  height: 16px;
  padding: 0;
  background: url('images/close.svg') no-repeat;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
}

.github button:focus {
  outline: none;
}
