:root {
  --blue: #0078ff;
  --white: #ffffff;
  --black: #030303;
}

html,
body {
  padding: 0;
  margin: 0;
  color: #323c4d;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: normal;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1 {
  margin: 0;
  font-size: 16px;
  font-weight: 200;
  line-height: 24px;
}

h2 {
  margin: 24px 0;
  color: #0c0c10;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

a {
  color: inherit;
  text-decoration: none;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.station-filters {
  position: fixed;
  top: 16px;
  left: 16px;
  width: 360px;
  max-height: calc(100% - 2em);
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.08);
  background-color: var(--white);
  border-radius: 8px;
  overflow-y: auto;
}

.section {
  margin: 0 15px;
  border-bottom: 1px solid #edf2f6;
}

/* Range slider */
input[type='range'] {
  -webkit-appearance: none;
  width: 100%;
  margin: 10px 0;
}

input[type='range']:focus {
  outline: none;
}

input[type='range']::-moz-focus-outer {
  border: 0;
}

input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  background: var(--blue);
  border-radius: 125px;
  cursor: pointer;
}

input[type='range']::-webkit-slider-thumb {
  width: 60px;
  height: 32px;
  margin-top: -14px;
  box-shadow: 0 1px 5px rgba(37, 42, 50, 0.2);
  background: #fff;
  border-radius: 125px;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type='range']::-moz-range-track {
  width: 100%;
  height: 4px;
  background: var(--blue);
  border-radius: 125px;
  cursor: pointer;
}

input[type='range']::-moz-range-thumb {
  width: 60px;
  height: 32px;
  margin-top: -14px;
  box-shadow: 0 1px 5px rgba(37, 42, 50, 0.2);
  background: #fff;
  border-radius: 125px;
  cursor: pointer;
  -webkit-appearance: none;
}

.range-slider {
  position: relative;
  padding: 0 0px 25px;
}

.range-thumb {
  position: absolute;
  top: -2px;
  width: 60px;
  color: #202024;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  line-height: 32px;
  pointer-events: none;
}

.range-info {
  display: flex;
  padding-top: 5px;
  justify-content: space-between;
  color: #404046;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
}

/* checkboxes for power and amenities */
.filters {
  margin: 10px 0;
}

.filters li {
  position: relative;
  padding-left: 30px;
  margin: 15px 0;
  color: #202024;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
}

.filters li span {
  color: #787884;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 17px;
}

.filter-input {
  position: absolute;
  width: 0;
  height: 0;
  cursor: pointer;
  opacity: 0;
}

.filter-input ~ label::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  box-sizing: border-box;
  background-color: var(--white);
  border: 1.49026px solid #9ca7b2;
  border-radius: 4px;
  content: '';
}

.filter-input:checked ~ label::before {
  background-color: var(--blue);
  border-color: var(--blue);
}

.filter-input:checked ~ label::after {
  position: absolute;
  top: 50%;
  left: 7px;
  width: 5px;
  height: 10px;
  margin-top: -7px;
  border: solid var(--white);
  border-width: 0 2px 2px 0;
  transform: rotate(41.67deg);
  content: '';
  -webkit-transform: rotate(41.67deg);
  -ms-transform: rotate(41.67deg);
}

/* Vieuw project on Github link */
.github-link {
  position: fixed;
  top: 16px;
  right: 16px;
  display: flex;
  align-items: center;

  padding: 0 12px;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.08);

  background-color: var(--black);
  border-radius: 20px;

  color: var(--white);
  font-size: 15px;
  font-weight: 500;
  line-height: 40px;
}

.github-link a {
  padding: 0 16px 0 32px;
  margin: 0 8px 0 0;
  background: url('images/github.svg') no-repeat left center;
  border-right: 1px solid #54545c;
}

.github-link button {
  width: 16px;
  height: 16px;
  padding: 0;
  background: url('images/close.svg') no-repeat;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
}

.github button:focus {
  outline: none;
}

/* Link to Chargetrip website */
.chargetrip-logo {
  display: inline-block;
  height: 40px;
  line-height: 38px;
  background: url('images/chargetrip.svg') no-repeat right center transparent;
  background-size: 72px;
  padding-right: 76px;
  font-size: 12px;
  font-weight: 600;
  margin: 0 15px;
  color: var(--black);
}
