:root {
  --base: 16px;

  --font-size-h1: 2rem;
  --font-size-h2: 1.5rem;
  --font-size-h3: 1.25rem;
  --font-size-base: 0.875rem;
  --font-size-small: 0.75rem;
  --font-size-micro: 0.5rem;

  --background-body: #ffffff;
  --background-subdued: #e5f0f5;
  --background-base: #f4f8fb;
  --background-alt: #e5f0f5;
  --background-alt2: #c9dee9;
  --background-alt3: #8dadbf;
  --background-alt4: #608192;

  --accent-base: #0078ff;
  --accent-alt: #005ee5;
  --accent-alt2: #0041c8;

  --status-approved: #2bc7b4;

  --font-base: #1b2023;
  --font-alt: #2c353a;
  --font-alt2: #45535b;
  --font-alt3: #566a75;
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--font-base);
  font-family: 'Inter', 'Roboto', sans-serif;
  font-size: var(--base);
  font-weight: normal;
  height: 100%;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: bold;
  font-size: var(--font-size-h1);
  line-height: 2.5rem;
}

h3 {
  font-weight: 600;
  font-size: var(--font-size-h3);
  line-height: 1.75rem;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size-base);
  line-height: 1.75rem;
}

a {
  text-decoration: none;
  color: var(--font-base);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 0.5rem 0;
}

.menu {
  height: 4rem;
  font-weight: 600;
  position: relative;
}

.logo {
  height: 1.5rem;
}

.menu .top-level-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 1.5rem;
  border-bottom: 1px solid var(--background-alt);
}

.center-nav,
.side-nav {
  display: flex;
}

.center-nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
}

.center-nav li {
  padding: 0;
  display: flex;
  align-items: center;
  position: relative;
  cursor: default;
}

.center-nav li .item {
  height: 2rem;
  display: flex;
  align-items: center;
  padding: 0 0.75rem;
  margin: 0 0.25rem;
  border: 1px solid var(--background-body);
  border-radius: 0.25rem;
  color: var(--font-alt3);
}

.center-nav li .item:after {
  content: '';
  width: 0.75rem;
  height: 0.75rem;
  background-image: url('./images/chevron.svg');
  margin-left: 0.5rem;
}

.center-nav li:hover .item {
  border: 1px solid var(--background-alt);
  color: var(--font-base);
}

.center-nav li:hover > .center-nav-submenu {
  opacity: 1;
  transform: translate(-50%, -0.25rem);
  pointer-events: all;
}

.center-nav-submenu {
  background-color: var(--background-body);
  opacity: 0;
  position: absolute;
  transform: translate(-50%, 1rem);
  backface-visibility: hidden;
  left: 50%;
  top: 100%;
  box-shadow: 0 2px 4px rgba(86, 106, 117, 0.08), 0 -10px 40px -4px rgba(86, 106, 117, 0.1),
    0 48px 70px -12px rgba(86, 106, 117, 0.1), 0 40px 40px -36px rgba(86, 106, 117, 0.24);
  padding: 1.5rem;
  border-radius: 0.5rem;
  z-index: 10;
  pointer-events: none;
  transition: opacity 300ms ease, transform 300ms ease;
}

.center-nav-submenu::before {
  content: '';
  width: 0.5rem;
  height: 0.5rem;
  position: absolute;
  left: 50%;
  top: -0.25rem;
  background: var(--background-body);
  transform: rotate(45deg);
  border-radius: 0.125rem;
}

.center-nav-submenu li {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.center-nav-submenu li:last-child {
  margin-bottom: 0;
}

.center-nav-submenu li p {
  white-space: nowrap;
  font-size: 1rem;
  line-height: 1.5rem;
}

.center-nav-submenu li p:first-child {
  font-weight: 600;
}

.side-nav li a {
  margin-left: 1rem;
  display: flex;
  align-items: center;
}

.side-nav li svg {
  margin-right: 0.5rem;
}

.side-nav li:first-child {
  padding-right: 1rem;
  border-right: 1px solid var(--background-alt);
}

.side-nav li:last-child a {
  color: var(--accent-base);
}

.content {
  width: 100%;
  height: calc(100% - 4rem);
  padding: 1rem;
}

.content iframe {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  border: none;
}

.content h1 {
  max-width: 1280px;
  margin: 4rem auto 1.5rem;
}

.overview {
  display: none;
  grid-template-columns: repeat(12, 1fr);
  max-width: 1280px;
  column-gap: 2rem;
  row-gap: 3rem;
  margin: 0 auto;
}

.overview .example {
  grid-column: span 3;
}

.overview .example-cover {
  width: 100%;
  margin-bottom: 1rem;
}

.overview .example h3 {
  margin-bottom: 0.25rem;
}

.overview .example p {
  line-height: 1.25rem;
}

.overview .example .category {
  color: var(--font-alt3);
}
