html,
body {
  margin: 0;
  padding: 0;
  font-family: Inter;
  font-style: normal;
  font-size: 15px;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: #0078ff;
}

h1 {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;

  color: #030303;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

/* information about the two providers */

.card {
  position: absolute;
  width: 360px;
  top: 16px;
  left: 16px;

  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding-top: 20px;
}

.card-section {
  border-bottom: 1px solid #edf2f6;
  padding: 0px 16px;
}

.providers {
  display: flex;
  padding: 4px;
  background: #f3f6f8;
  border: 1px solid #e8edf1;
  box-sizing: border-box;
  border-radius: 6px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.providers a {
  height: 32px;
  width: 160px;
  line-height: 32px;
  font-weight: 600;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #141519;
  background: transparent;
  border-radius: 4px;
}

.providers a:target {
  background: #0078ff;
  color: #ffffff;
}

.providers a:focus {
  outline: none;
}

.provider-eco {
  padding: 0 0 30px 55px;
  background: url('images/ecomovement.svg') no-repeat left center;
  display: flex;
  font-weight: 600;
  line-height: 24px;
  padding-top: 15px;
}

.provider-ocm {
  padding: 0 0 30px 55px;
  background: url('images/ocm.svg') no-repeat left center;
  display: flex;
  font-weight: 600;
  line-height: 24px;

  padding-top: 15px;
}

.provider-eco span {
  display: flex;
  color: #0078ff;
  padding-left: 100px;
}

.provider img {
  padding-right: 20px;
}

.provider-info {
  margin-top: -25px;
  margin-left: 55px;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  align-items: center;
  letter-spacing: 0.2px;

  color: #404046;
  margin-bottom: 20px;
}

/* View project on the github link */
.github-link {
  position: fixed;
  top: 16px;
  right: 66px;
  display: flex;
  align-items: center;

  padding: 0 12px;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.08);

  background-color: #030303;
  border-radius: 20px;

  color: #fff;
  font-size: 15px;
  font-weight: 500;
  line-height: 40px;
}

.github-link a {
  padding: 0 16px 0 32px;
  margin: 0 8px 0 0;
  background: url('images/github.svg') no-repeat left center;
  border-right: 1px solid #54545c;
  color: #fff;
  text-decoration: none;
}

.github-link button {
  width: 16px;
  height: 16px;
  padding: 0;
  background: url('images/close.svg') no-repeat;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
}

.github button:focus {
  outline: none;
}

/* Display a legend of chargeing stations */
.legend-button {
  position: fixed;
  right: 16px;
  top: 16px;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.08);
  border-radius: 50%;
  background: url('images/legend.svg') no-repeat center center #fff;
  -webkit-appearance: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: none;
}

.legend-button:focus {
  outline: none;
}

.legend {
  display: none;
  position: absolute;
  width: 320px;
  max-height: calc(630px - 2em);
  right: 16px;
  top: 64px;

  background: #ffffff;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  overflow-y: auto;
}

.section {
  padding: 16px;
  padding-bottom: 5px;
}

.section-border {
  border-bottom: 1px solid #edf2f6;
}

.section-title {
  padding-left: 16px;
  padding-top: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #0c0c10;
}

.section li {
  padding: 16px;
  padding-left: 40px;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #202024;
}

.section li span {
  font-size: 14px;
  font-weight: normal;
  line-height: 17px;
  color: #787884;
}

.section-available {
  padding: 0 0 30px 60px;
  background: url('images/available.svg') no-repeat left center;
}

.section-in-use {
  padding: 0 0 30px 60px;
  background: url('images/in-use.svg') no-repeat left center;
}

.section-unkown {
  padding: 0 0 30px 60px;
  background: url('images/unkown.svg') no-repeat left center;
}

.section-broken {
  padding: 0 0 30px 60px;
  background: url('images/broken.svg') no-repeat left center;
}

.section-turbo {
  padding: 0 0 30px 60px;
  background: url('images/turbo.svg') no-repeat left center;
}

.section-fast {
  padding: 0 0 30px 60px;
  background: url('images/fast.svg') no-repeat left center;
}

.section-slow {
  padding: 0 0 30px 60px;
  background: url('images/slow.svg') no-repeat left center;
}

/* Link to Chargetrip website */
.chargetrip-logo {
  display: inline-block;
  height: 40px;
  line-height: 38px;
  background: url('images/chargetrip.svg') no-repeat right center transparent;
  background-size: 72px;
  padding-right: 80px;
  font-size: 12px;
  font-weight: 600;
  margin: 0 15px;
  color: var(--black);
  text-decoration: none;
}
