html,
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-weight: 200;
  font-size: 14px;
  color: #637282;
}

p {
  margin: 5px 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.journey-specs {
  position: absolute;
  width: 320px;
  top: 25px;
  left: 25px;

  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 24px 16px;
}

.journey-specs h1 {
  margin: 0 0 10px;
  font-weight: bold;
  font-size: 22px;
  align-items: center;
  color: #000840;
}

.journey-specs header {
  padding: 0 0 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.specs {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  font-size: 12px;
}

.specs span {
  font-weight: bold;
  text-align: right;
  color: #010738;
}

.rounded-label {
  font-size: 8px;
}

.location-label {
  background: white;
  line-height: 1.1em;
  padding: 5px 10px;
  font-size: 10px;
  box-shadow: 0 8px 15px rgba(37, 42, 50, 0.1);
  border-radius: 4px;
}
