:root {
  --base: 16px;

  --font-size-h1: 2rem;
  --font-size-h2: 1.5rem;
  --font-size-h3: 1.25rem;
  --font-size-base: 0.875rem;
  --font-size-small: 0.75rem;
  --font-size-micro: 0.5rem;

  --background-base: #ffffff;
  --background-subdued: #e5f0f5;
  --background-base: #f4f8fb;
  --background-alt: #e5f0f5;
  --background-alt2: #c9dee9;
  --background-alt3: #8dadbf;
  --background-alt4: #608192;

  --accent-base: #0078ff;
  --accent-alt: #005ee5;
  --accent-alt2: #0041c8;

  --font-base: #1b2023;
  --font-alt: #2c353a;
  --font-alt2: #45535b;
  --font-alt3: #566a75;
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--font-base);
  font-family: 'Inter', 'Roboto', sans-serif;
  font-size: var(--base);
  font-weight: normal;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: bold;
  font-size: var(--font-size-h1);
  line-height: 2.5rem;
}

h3 {
  font-weight: 600;
  font-size: var(--font-size-h3);
  line-height: 1.75rem;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size-base);
  line-height: 1.75rem;
}

a {
  text-decoration: none;
  color: var(--background-base);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

input {
  height: 3rem;
  width: 100%;
  border-radius: 1.5rem;
  border: 1px solid var(--background-alt);
  margin-top: 0.5rem;
  padding-left: 3rem;
  outline: none;
  font-size: var(--font-size-base);
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  background: url('./images/search.svg') no-repeat center left 1rem;
}

input:focus {
  border: 1px solid var(--accent-base);
}

::placeholder {
  font-family: 'Inter', sans-serif;
  font-size: var(--font-size-base);
  font-weight: bold;
  color: var(--font-alt3);
  opacity: 1;
}

#map {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.card {
  position: absolute;
  overflow: hidden;
  top: 1rem;
  left: 1rem;
  width: 360px;
  height: calc(100% - 2rem);
  border-radius: 8px;
  background-color: var(--background-base);
  box-shadow: 0px 8px 62px rgba(0, 0, 0, 0.07), 0px 9.63424px 10.0459px rgba(0, 0, 0, 0.08),
    0px 5.80506px 6.13245px rgba(0, 0, 0, 0.0310277), 0px -4px 3.46624px rgba(0, 0, 0, 0.024633),
    0px 24px 64px rgba(0, 0, 0, 0.08);
  z-index: 10;
}

main {
  height: 100%;
}

.card header {
  padding: 1rem;
  background: var(--background-base);
  position: relative;
}

.card header::after {
  content: '';
  position: absolute;
  width: 100%;
  bottom: -32px;
  left: 0;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.02), 0px 2px 6px -1px rgba(0, 0, 0, 0.1);
}

.card header.no-shadow::after {
  display: none;
}

.car-list {
  overflow-y: scroll;
  height: calc(100% - 88px);
}

.car-list-header:first-child {
  margin: 0 0 0.5rem;
}

.car-list-header {
  font-size: var(--font-size-base);
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--background-alt);
  border-top: 1px solid var(--background-alt);
  text-transform: uppercase;
  margin: 0.5rem 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: var(--background-base);
  z-index: 10;
}

.car-list-element {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
}

.car-list-image {
  width: 104px;
  height: 64px;
  background-color: var(--background-subdued);
  border: 1px solid var(--background-alt);
  border-radius: 4px;
  display: flex;
  place-content: center;
  flex-wrap: wrap;
  flex-shrink: 0;
}

.car-image {
  width: 100%;
}

.car-list-data {
  margin-left: 1rem;
}

.car-list-data p {
  line-height: 1.25rem;
}

.mapboxgl-ctrl-attrib-button {
  display: none;
}

/* View project on the github link */
.github-link {
  position: fixed;
  top: 16px;
  right: 16px;
  display: flex;
  align-items: center;

  padding: 0 12px;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.08);

  background-color: #fff;
  border-radius: 20px;

  color: #0c0c10;
  font-size: 15px;
  font-weight: 500;
  line-height: 40px;
  z-index: 2;
}

.github-link a {
  padding: 0 16px 0 32px;
  margin: 0 8px 0 0;
  background: url('images/github.svg') no-repeat left center;
  border-right: 1px solid #edf2f6;
  color: var(--font-base);
  font-weight: bold;
}

.github-link button {
  width: 16px;
  height: 16px;
  padding: 0;
  background: url('images/close.svg') no-repeat;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
}

.github button:focus {
  outline: none;
}
